<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form class="form-signin" th:action="@{/login}" method="post">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="email" id="email" name="username" class="form-control" placeholder="Email" required autofocus>
    <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Войти</button>
</form><!-- /form -->
<a th:href="@{register}" class="forgot-password">
    Регистрация
</a>
</body>
</html>